.modal-overlay {

  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background:
    rgba(15, 23, 42, 0.55);

  backdrop-filter: blur(2px);

  z-index: 9999;

}

.modal-content {

  background: white;

  width: 700px;

  max-height: 90vh;

  overflow-y: auto;

  border-radius: 10px;

  padding: 20px;

  position: relative;

  z-index: 10000;

  box-shadow:
    0 10px 30px rgba(0,0,0,0.15);

}

.modal-close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
}