.app-layout {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */

.sidebar {
  width: 220px;
  background: #111827;
  color: white;
  padding: 20px;
}

.logo {
  margin-bottom: 30px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar a {
  color: #9ca3af;
  text-decoration: none;
  padding: 8px;
  border-radius: 6px;
}

.sidebar a.active {
  background: #2563eb;
  color: white;
}

/* MAIN */

.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* HEADER */

.header {
  height: 60px;
  background: white;
  border-bottom: 1px solid #e5e7eb;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
}

/* CONTENT */

.content {
  padding: 20px;
  background: #f5f7fb;
  flex: 1;
  overflow-y: auto;
}